In [137]:
import shapefile
import json

# Download Census Tracts "Shapefile" and unzip
# https://www2.census.gov/geo/tiger/GENZ2017/shp/cb_2018_06_tract_500k.zip
# ( From https://www.census.gov/cgi-bin/geo/shapefiles/index.php )

# Filter down to San Diego County (page 15)
# https://www2.census.gov/geo/pdfs/maps-data/data/tiger/tgrshp2017/TGRSHP2017_TechDoc_Ch3.pdf
# https://www.census.gov/geo/maps-data/maps/2010ref/st06_tract.html
SANDIEGO_FIPS = "073"
reader = shapefile.Reader("data/tl_2018_06_tract.shp")
fields = reader.fields[1:]
field_names = [field[0] for field in fields]
geojson = []
for sr in reader.shapeRecords():
    atr = dict(zip(field_names, sr.record))
    geom = sr.shape.__geo_interface__
    feature = dict(type="Feature", \
            geometry=geom, properties=atr)
    if feature["properties"]["COUNTYFP"] != SANDIEGO_FIPS:
        continue
    geojson.append(feature)
len(geojson)

628

In [138]:
import pandas as pd

# Downlaod RASP data from San Diego Regional Data Lib and put in "data/" folder
# https://data.sandiegodata.org/dataset/sandiegodata-org-rasp
rasp_data = pd.read_csv("data/rasp_tracts_sd.csv")
rasp_data

,geoid,col_name,value_est,value_margin,sex,raceeth,age_range,pov,age_min,age_max,overlapping
0,14000US06073000100,B17001A_001,2455,214,both,white,00-120,all,0,120,1
1,14000US06073000100,B17001A_002,102,70,both,white,00-120,below,0,120,1
2,14000US06073000100,B17001A_003,12,16,male,white,00-120,below,0,120,1
3,14000US06073000100,B17001A_004,0,12,male,white,00-004,below,0,4,1
4,14000US06073000100,B17001A_005,0,12,male,white,05-005,below,5,5,1
5,14000US06073000100,B17001A_006,0,12,male,white,06-011,below,6,11,1
6,14000US06073000100,B17001A_007,0,12,male,white,12-014,below,12,14,1
7,14000US06073000100,B17001A_008,0,12,male,white,15-015,below,15,15,1
8,14000US06073000100,B17001A_009,0,12,male,white,16-017,below,16,17,1
9,14000US06073000100,B17001A_010,1,5,male,white,18-024,below,18,24,1
10,14000US06073000100,B17001A_011,0,12,male,white,25-034,below,25,34,1
11,14000US06073000100,B17001A_012,0,12,male,white,35-044,below,35,44,1
12,14000US06073000100,B17001A_013,11,18,male,white,45-054,below,45,54,1
13,14000US06073000100,B17001A_014,0,12,male,white,55-064,below,55,64,1
14,14000US06073000100,B17001A_015,0,12,male,white,65-074,below,65,74,1
15,14000US06073000100,B17001A_016,0,12,male,white,75-120,below,75,120,1
16,14000US06073000100,B17001A_017,90,63,female,white,00-120,below,0,120,1
17,14000US06073000100,B17001A_018,0,12,female,white,00-004,below,0,4,1
18,14000US06073000100,B17001A_019,0,12,female,white,05-005,below,5,5,1
19,14000US06073000100,B17001A_020,0,12,female,white,06-011,below,6,11,1
20,14000US06073000100,B17001A_021,0,12,female,white,12-014,below,12,14,1
21,14000US06073000100,B17001A_022,8,12,female,white,15-015,below,15,15,1
22,14000US06073000100,B17001A_023,0,12,female,white,16-017,below,16,17,1
23,14000US06073000100,B17001A_024,32,50,female,white,18-024,below,18,24,1
24,14000US06073000100,B17001A_025,0,12,female,white,25-034,below,25,34,1
25,14000US06073000100,B17001A_026,0,12,female,white,35-044,below,35,44,1
26,14000US06073000100,B17001A_027,22,23,female,white,45-054,below,45,54,1
27,14000US06073000100,B17001A_028,0,12,female,white,55-064,below,55,64,1
28,14000US06073000100,B17001A_029,12,19,female,white,65-074,below,65,74,1
29,14000US06073000100,B17001A_030,16,17,female,white,75-120,below,75,120,1
...,...,...,...,...,...,...,...,...,...,...,...
370490,14000US06073990100,B17001_030,0,12,female,all,75-120,below,75,120,1
370491,14000US06073990100,B17001_031,0,12,female,all,00-120,above,0,120,1
370492,14000US06073990100,B17001_032,0,12,male,all,00-120,above,0,120,1
370493,14000US06073990100,B17001_033,0,12,male,all,00-004,above,0,4,1
370494,14000US06073990100,B17001_034,0,12,male,all,05-005,above,5,5,1
370495,14000US06073990100,B17001_035,0,12,male,all,06-011,above,6,11,1
370496,14000US06073990100,B17001_036,0,12,male,all,12-014,above,12,14,1
370497,14000US06073990100,B17001_037,0,12,male,all,15-015,above,15,15,1
370498,14000US06073990100,B17001_038,0,12,male,all,16-017,above,16,17,1
370499,14000US06073990100,B17001_039,0,12,male,all,18-024,above,18,24,1
370500,14000US06073990100,B17001_040,0,12,male,all,25-034,above,25,34,1
370501,14000US06073990100,B17001_041,0,12,male,all,35-044,above,35,44,1
370502,14000US06073990100,B17001_042,0,12,male,all,45-054,above,45,54,1
370503,14000US06073990100,B17001_043,0,12,male,all,55-064,above,55,64,1
370504,14000US06073990100,B17001_044,0,12,male,all,65-074,above,65,74,1
370505,14000US06073990100,B17001_045,0,12,male,all,75-120,above,75,120,1
370506,14000US06073990100,B17001_046,0,12,female,all,00-120,above,0,120,1
370507,14000US06073990100,B17001_047,0,12,female,all,00-004,above,0,4,1
370508,14000US06073990100,B17001_048,0,12,female,all,05-005,above,5,5,1
370509,14000US06073990100,B17001_049,0,12,female,all,06-011,above,6,11,1
370510,14000US06073990100,B17001_050,0,12,female,all,12-014,above,12,14,1
370511,14000US06073990100,B17001_051,0,12,female,all,15-015,above,15,15,1
370512,14000US06073990100,B17001_052,0,12,female,all,16-017,above,16,17,1
370513,14000US06073990100,B17001_053,0,12,female,all,18-024,above,18,24,1
370514,14000US06073990100,B17001_054,0,12,female,all,25-034,above,25,34,1
370515,14000US06073990100,B17001_055,0,12,female,all,35-044,above,35,44,1
370516,14000US06073990100,B17001_056,0,12,female,all,45-054,above,45,54,1
370517,14000US06073990100,B17001_057,0,12,female,all,55-064,above,55,64,1
370518,14000US06073990100,B17001_058,0,12,female,all,65-074,above,65,74,1
370519,14000US06073990100,B17001_059,0,12,female,all,75-120,above,75,120,1

In [95]:
# Total Population by tract
total_pop = rasp_data[(rasp_data["sex"] == "both") & \
         (rasp_data["raceeth"] == "all") & \
          (rasp_data["pov"] == "all")
         ].sort_values(by="value_est",ascending=False)
total_pop_n = total_pop.agg({'value_est': [np.sum]})
len(total_pop),total_pop_n

(628,      value_est
 sum    3172544)

In [153]:
import numpy as np

# Elderly Population by tract
elder_pop = rasp_data[
    #(rasp_data["sex"] == "both") & \
    (rasp_data["raceeth"] == "all") & \
    (rasp_data["age_min"] >= 65 ) #& \
    #(rasp_data["pov"] == "all")
].groupby("geoid")

total_elders = elder_pop.agg({'value_est': [np.sum]})
total_elders

                   value_est
                         sum
geoid
14000US06073000100       875
14000US06073000201       503
14000US06073000202       474
14000US06073000300       742
14000US06073000400       263
14000US06073000500       400
14000US06073000600       432
14000US06073000700       522
14000US06073000800       549
14000US06073000900       469
14000US06073001000       255
14000US06073001100       225
14000US06073001200       551
14000US06073001300       386
14000US06073001400       246
14000US06073001500       264
14000US06073001600       362
14000US06073001700       218
14000US06073001800       381
14000US06073001900       408
14000US06073002001       881
14000US06073002002       268
14000US06073002100       440
14000US06073002201        47
14000US06073002202       500
14000US06073002301       190
14000US06073002302       489
14000US06073002401       160
14000US06073002402       278
14000US06073002501       442
...                      ...
14000US06073020708       556
14000US06073020709       944
14000US06073020710       385
14000US06073020801       898
14000US06073020805       441
14000US06073020806       780
14000US06073020807       438
14000US06073020809       643
14000US06073020810       628
14000US06073020811       863
14000US06073020902       364
14000US06073020903       908
14000US06073020904       592
14000US06073021000      1063
14000US06073021100      1346
14000US06073021202       533
14000US06073021204      1260
14000US06073021205      1063
14000US06073021206       619
14000US06073021302       596
14000US06073021303      1511
14000US06073021304       496
14000US06073021400       808
14000US06073021500       734
14000US06073021600       478
14000US06073021800       617
14000US06073021900       231
14000US06073022000       407
14000US06073022100       933
14000US06073990100         0

[628 rows x 1 columns]

In [160]:
PREFIX = '14000US' 

for f in geojson:
    prop = f["properties"]
    prop["total_pop"] = int(total_pop[total_pop["geoid"] == PREFIX + prop["GEOID"]]["value_est"])
    prop["elder_pop"] = int(total_elders.loc[PREFIX + prop["GEOID"],"value_est"])
    if prop["total_pop"] > 0:
        prop["elder_percent"] = round( 
            (float(prop["elder_pop"]) / float(prop["total_pop"]) ) * 100
            ,1)
    else: prop["elder_percent"] = 0
[f["properties"] for f in geojson[:10]] # Quick Check

[{'STATEFP': '06',
  'COUNTYFP': '073',
  'TRACTCE': '008331',
  'GEOID': '06073008331',
  'NAME': '83.31',
  'NAMELSAD': 'Census Tract 83.31',
  'MTFCC': 'G5020',
  'FUNCSTAT': 'S',
  'ALAND': 954205,
  'AWATER': 0,
  'INTPTLAT': '+32.9426037',
  'INTPTLON': '-117.2241058',
  'total_pop': 2459,
  'elder_pop': 244,
  'elder_percent': 9.9},
 {'STATEFP': '06',
  'COUNTYFP': '073',
  'TRACTCE': '008336',
  'GEOID': '06073008336',
  'NAME': '83.36',
  'NAMELSAD': 'Census Tract 83.36',
  'MTFCC': 'G5020',
  'FUNCSTAT': 'S',
  'ALAND': 828562,
  'AWATER': 0,
  'INTPTLAT': '+32.9678415',
  'INTPTLON': '-117.1331584',
  'total_pop': 2209,
  'elder_pop': 272,
  'elder_percent': 12.3},
 {'STATEFP': '06',
  'COUNTYFP': '073',
  'TRACTCE': '008337',
  'GEOID': '06073008337',
  'NAME': '83.37',
  'NAMELSAD': 'Census Tract 83.37',
  'MTFCC': 'G5020',
  'FUNCSTAT': 'S',
  'ALAND': 1566257,
  'AWATER': 0,
  'INTPTLAT': '+32.9583944',
  'INTPTLON': '-117.1357871',
  'total_pop': 4513,
  'elder_pop': 602,
  'elder_percent': 13.3},
 {'STATEFP': '06',
  'COUNTYFP': '073',
  'TRACTCE': '011601',
  'GEOID': '06073011601',
  'NAME': '116.01',
  'NAMELSAD': 'Census Tract 116.01',
  'MTFCC': 'G5020',
  'FUNCSTAT': 'S',
  'ALAND': 733715,
  'AWATER': 0,
  'INTPTLAT': '+32.6663314',
  'INTPTLON': '-117.0964015',
  'total_pop': 5648,
  'elder_pop': 265,
  'elder_percent': 4.7},
 {'STATEFP': '06',
  'COUNTYFP': '073',
  'TRACTCE': '011602',
  'GEOID': '06073011602',
  'NAME': '116.02',
  'NAMELSAD': 'Census Tract 116.02',
  'MTFCC': 'G5020',
  'FUNCSTAT': 'S',
  'ALAND': 1006599,
  'AWATER': 14299,
  'INTPTLAT': '+32.6599903',
  'INTPTLON': '-117.0941732',
  'total_pop': 3557,
  'elder_pop': 226,
  'elder_percent': 6.4},
 {'STATEFP': '06',
  'COUNTYFP': '073',
  'TRACTCE': '011700',
  'GEOID': '06073011700',
  'NAME': '117',
  'NAMELSAD': 'Census Tract 117',
  'MTFCC': 'G5020',
  'FUNCSTAT': 'S',
  'ALAND': 1630750,
  'AWATER': 0,
  'INTPTLAT': '+32.6738101',
  'INTPTLON': '-117.0970458',
  'total_pop': 6501,
  'elder_pop': 1039,
  'elder_percent': 16.0},
 {'STATEFP': '06',
  'COUNTYFP': '073',
  'TRACTCE': '011801',
  'GEOID': '06073011801',
  'NAME': '118.01',
  'NAMELSAD': 'Census Tract 118.01',
  'MTFCC': 'G5020',
  'FUNCSTAT': 'S',
  'ALAND': 651866,
  'AWATER': 0,
  'INTPTLAT': '+32.6804224',
  'INTPTLON': '-117.1041616',
  'total_pop': 3645,
  'elder_pop': 362,
  'elder_percent': 9.9},
 {'STATEFP': '06',
  'COUNTYFP': '073',
  'TRACTCE': '013307',
  'GEOID': '06073013307',
  'NAME': '133.07',
  'NAMELSAD': 'Census Tract 133.07',
  'MTFCC': 'G5020',
  'FUNCSTAT': 'S',
  'ALAND': 1308215,
  'AWATER': 0,
  'INTPTLAT': '+32.5988025',
  'INTPTLON': '-117.0502967',
  'total_pop': 4376,
  'elder_pop': 654,
  'elder_percent': 14.9},
 {'STATEFP': '06',
  'COUNTYFP': '073',
  'TRACTCE': '013308',
  'GEOID': '06073013308',
  'NAME': '133.08',
  'NAMELSAD': 'Census Tract 133.08',
  'MTFCC': 'G5020',
  'FUNCSTAT': 'S',
  'ALAND': 1609626,
  'AWATER': 0,
  'INTPTLAT': '+32.5917561',
  'INTPTLON': '-117.0490649',
  'total_pop': 3765,
  'elder_pop': 322,
  'elder_percent': 8.6},
 {'STATEFP': '06',
  'COUNTYFP': '073',
  'TRACTCE': '013309',
  'GEOID': '06073013309',
  'NAME': '133.09',
  'NAMELSAD': 'Census Tract 133.09',
  'MTFCC': 'G5020',
  'FUNCSTAT': 'S',
  'ALAND': 2506844,
  'AWATER': 0,
  'INTPTLAT': '+32.6183130',
  'INTPTLON': '-117.0337503',
  'total_pop': 7178,
  'elder_pop': 914,
  'elder_percent': 12.7}]

In [161]:
with open("docs/census_tracts.json","w") as f:
    f.write(
        json.dumps({
            "type":"FeatureCollection",
            "features":geojson
        },indent=1)
    )
f.close()

In [163]:
#total_pop[total_pop["geoid"] == PREFIX+"06073008503"]

In [164]:
#[f for f in geojson if f["properties"]["GEOID"]=="06073008503"]